WCFExerciciosCliente/WCFExerciciosCliente/Connected Services/ServiceExercicios/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExercicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Exercicio" nillable="true" type="tns:Exercicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExercicio" nillable="true" type="tns:ArrayOfExercicio" />
  <xs:complexType name="Exercicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="idExercicio" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="repeticoes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exercicio" nillable="true" type="tns:Exercicio" />
</xs:schema>