WCFExerciciosCliente/WCFExerciciosCliente/Connected Services/ServiceExercicios/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52122/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="SelectExercicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectExerciciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectExerciciosResult" nillable="true" type="q1:ArrayOfExercicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExercicios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="exercicio" nillable="true" type="q2:Exercicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExerciciosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExercicios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="exercicio" nillable="true" type="q3:Exercicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExerciciosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExercicios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idExercicio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExerciciosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>