WCFExerciciosCliente/WCFExerciciosCliente/Connected Services/ServiceExercicios/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52122/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52122/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52122/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SelectExercicios_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectExercicios" />
  </wsdl:message>
  <wsdl:message name="IService_SelectExercicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectExerciciosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertExercicios_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertExercicios" />
  </wsdl:message>
  <wsdl:message name="IService_InsertExercicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertExerciciosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateExercicios_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExercicios" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateExercicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExerciciosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteExercicios_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExercicios" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteExercicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExerciciosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SelectExercicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SelectExercicios" message="tns:IService_SelectExercicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectExerciciosResponse" message="tns:IService_SelectExercicios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertExercicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertExercicios" message="tns:IService_InsertExercicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertExerciciosResponse" message="tns:IService_InsertExercicios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExercicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateExercicios" message="tns:IService_UpdateExercicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateExerciciosResponse" message="tns:IService_UpdateExercicios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExercicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteExercicios" message="tns:IService_DeleteExercicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteExerciciosResponse" message="tns:IService_DeleteExercicios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectExercicios">
      <soap:operation soapAction="http://tempuri.org/IService/SelectExercicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExercicios">
      <soap:operation soapAction="http://tempuri.org/IService/InsertExercicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExercicios">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateExercicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExercicios">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteExercicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52122/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>